<div class="main-content">
    <div class="container">
        <form class="form-horizontal" role="form" name="createForm">
            <div class="form-group">
                <label for="name" class="col-md-2 control-label">New Name</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" placeholder="Name" ng-model="role.newName" ng-required="true">
                </div>
            </div>
            
            <button ng-click="update()">Update Role Name</button>
        </form>
    </div>
</div>