<div class="main-content">
    <div class="container">
        <form class="form-inline" role="form" name="createForm">
            <div class="form-group">
                <label for="name">New Name</label>
                <input id="name" type="text" class="form-control" placeholder="Name" ng-model="role.newName" ng-required="true">
            </div>
            <button class="btn btn-default" ng-click="update()">Update Role Name</button>
        </form>

        <h1>
            Manage users
        </h1>
        <form class="form-inline" role="form" name="addUser">
            <div class="form-group">
                <label for="username">Add user to role:</label>
                <input id="username" type="text" class="form-control" placeholder="User Name" ng-model="userName" ng-required="true">
            </div>
            <button class="btn btn-default" ng-click="addUserToRole()">Add User to Role</button>
        </form>
        <table class="table table-bordered" style="margin-top: 20px;">
            <tr>
                <th>User Name</th>
                <th>Email</th>
                <th></th>
            </tr>
            <tr ng-repeat="user in role.users">
                <td>{{user.userName}}</td>
                <td>{{user.email}}</td>
                <td><a href="javascript:void(0);" ng-click="removeUserFromRole(user.userName)">remove user</a></td>
            </tr>
        </table>
    </div>
</div>