<div class="main-content">
    <div class="container">
        <form class="form-inline" role="form">

            <div class="form-group">
                <label for="name">Role Name </label>
                    <input type="text" class="form-control" placeholder="Role name" ng-model="role.name" ng-required="true">
                    <button class="btn btn-default" ng-click="search()">Search by Role Name</button>
            </div>
        </form>
        <div class="col-md-10" style="padding: 20px">
            <span ng-include="'/scripts/app/templates/roles/list.html'"></span>
        </div>
    </div>
</div>