<div class="main-content">
    <div class="container">
        <form class="form-horizontal" role="form">

            <div class="form-group">
                <label for="name" class="col-md-2 control-label">Role Name</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" placeholder="Role name" ng-model="role.name" ng-required="true">
                </div>
            </div>

            <button ng-click="search()">Search by Role Name</button>
        </form>
        <div>
            <span ng-include="'/scripts/app/templates/roles/list.html'"></span>
        </div>
    </div>
</div>