<div class="main-content">
    <div class="container">
        <div class="page-content">
            <div class="page-users">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li>
                        <a href="/users/create" class="br-red" data-toggle="tab" data-target="#"><i class="fa fa-plus red"></i> Add New</a>
                    </li>
                    <li>
                        <a href="/users/search" class="br-green" data-toggle="tab" data-target="#"><i class="fa fa-search green"></i> Search</a>
                    </li>
                </ul>
            </div>
            <div ng-init="findAll()">
                <span ng-include="'/scripts/app/templates/users/list.html'"></span>
            </div>
        </div>
    </div>
</div>