<div class="main-content">
    <div class="container">
        <div class="table-responsive">
            <table class="table table-bordered">
                <tr class="active">
                    <th></th>
                    <th>User Name</th>
                    <th>Email</th>
                </tr>
                <tr ng-repeat="u in users" ng-click="edit(u.userName)" style="cursor: pointer;">
                    <td><input type="checkbox"></td>
                    <td>{{u.userName}}</td>
                    <td>{{u.email}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>