<div class="main-content">
    <div class="container">
        <div class="table-responsive">
            <table class="table table-bordered">
                <tr class="active">
                    <th>User Name</th>
                    <th>Email</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr ng-repeat="u in users">
                    <td>{{u.userName}}</td>
                    <td>{{u.email}}</td>
                    <td><a href="javascript:void(0)" ng-click="edit(u.userName)">Edit</a></td>
                    <td><a href="javascript:void(0)" ng-click="delete(u.userName)">Delete</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>