<div class="main-content">
    <div class="container">
        <form class="form-inline" role="form">

            <div class="form-group">
                <label for="name">User Name</label>
                    <input type="text" class="form-control" placeholder="User name" ng-model="user.userName" ng-required="true">
            </div>

            <button class="btn btn-default" ng-click="search()">Search by User Name</button>
        </form>
        <div style="padding: 20px;">
            <span ng-include="'/scripts/app/templates/users/list.html'"></span>
        </div>
    </div>
</div>